$purple1: #F7EFFB;
$purple2: #F0DEF7;
$purple3: #E1BEEF;
$purple4: #CA8DE2;
$purple5: #BB6BDA;
$purple6: #B45CD6;
$purple7: #AC4BD2;
$purple8: #A43BCE;

$green1: #ECFEF8;
$green2: #D9FCF2;
$green3: #A0F8DE;
$green4: #79F6D0;
$green5: #53F3C3;
$green6: #2DF0B6;
$green7: #1AEFAF;
$green8: #10E5A5;

$yellow1: #FFFAEB;
$yellow2: #FFF5D6;
$yellow3: #FFECAD;
$yellow4: #FFE285;
$yellow5: #FFD95C;
$yellow6: #FFD447;
$yellow7: #FFCF33;
$yellow8: #FFCB1F;

$red1: #FFEBEC;
$red2: #FFD6DA;
$red3: #FFADB4;
$red4: #FF858F;
$red5: #FF6370;
$red6: #FF5C69;
$red7: #FF4757;
$red8: #FF3344;

$blue1: #EBF4FF;
$blue2: #D6E9FF;
$blue3: #85BEFE;
$blue4: #489DFE;
$blue5: #0177FB;
$blue6: #0169DF;
$blue7: #015FCB;
$blue8: #0156B7;

$white: #FFFFFF;
$gray1: #F3F4F6;
$gray2: #E8E8ED;
$gray3: #DCDDE5;
$gray4: #D0D1DC;
$gray5: #C5C6D3;
$gray6: #B9BACA;
$gray7: #AEAFC2;
$gray8: #A2A3B9;
$gray9: #9698B0;
$gray10: #8B8CA7;
$gray11: #7F819F;
$gray12: #737596;
$gray13: #696B8C;
$gray14: #606280;
$gray15: #585974;
$gray16: #4F5069;
$gray17: #46475D;
$gray18: #3B3C4E;
$gray19: #353546;
$gray20: #2C2D3A;
$gray21: #23242F;
$gray22: #1A1B23;
$gray23: #121217;
$gray24: #09090C;
$black: #000000;

$primary: $blue5;
$secondary: $gray18;
$info: $purple5;
$success: $green5;
$warning: $yellow5;
$error: $red5;
